*.class

Android/local.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# VIM
*.swp
.gradle
/local.properties
Android/.idea/workspace.xml
Android/.idea/libraries
Android/Android.iml
Android/build/*
.DS_Store
/build
/captures

# Private files
Android/mobile/src/main/java/edu/berkeley/eecs/bartgo/PrivateConstants.java
